Message.info{
    border-title-align: center;
    border: panel $primary;
}
Message.warning{
    border-title-align: center;
    border: panel $warning;
}
Message.alert{
    border-title-align: center;
    border: panel $error;
}
Alert.new_connection{
    border: outer $warning;
}
Alert.disconnection{
    border: outer $error;
}