.info{
    border-title-align: center;
    border: panel $primary;
}
.warning{
    border-title-align: center;
    border: panel $warning;
}
.alert{
    border-title-align: center;
    border: panel $error;
}